.textBody{
    /*font-family: Times, "Times New Roman", Georgia, Serif, serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}

.textBody1{
    /*font-family: Times, "Times New Roman", Georgia, Serif, serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    padding-top: 200px;
}

.paragraph{
    margin-top: 3%;
    text-align: justify;
}
.title{
    /*font-style: italic;*/
}

.title1{
    /*font-style: italic;*/
    padding-top: 200px;
}

.txtNormal{

    font-size: 1rem;
    font-style: normal;
}


.txtImportant{
    font-weight: bold;
}

.txtUnique{
    font-style:italic;
}

.txtImportantUnique{
    background-color: darkred;
    font-weight: bold;
    font-style: italic;
    color: white;
    padding: 0 10px;
    border-radius: 10pt;
}

.articleOne{
    margin-left: 0;
}
.articleTwo{
    margin-left: 10%;

}
.articleThree{
    margin-left: 20%;
}



.actions{
    margin: 3% auto;
    align-self: center;
}

.actions:hover{
    background-color: mediumseagreen;
}

.surveyContainer{
    margin-top: 5%;
}