.container{
    width: 100%;
}

.imageContainer{
    display:block;
    align-self: center;
    justify-self: center;
    margin: auto;
    width: 80%;
}

.textContainer{
    text-align: center;
}

.actions{

}